body {
    background-color:rgb(230, 198, 96);
    display:flex;
    justify-content: center;
}

.操作面板 {
    background-color:white;
    width:300px;
    padding:30px;
    margin-top:50px;
    border-radius:20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0,1);
}

.輸入區域 {
    display:flex;
    border-radius:25px;
    overflow:hidden; /*讓圓角效果不超過父元素*/
}

.文字欄 {
    flex-grow: 1;
    border:none; /*移除預設邊框*/
    background-color:#F0F4F8;
    padding: 10px 15px; /*上+右邊距設定*/
    outline:none; /*移除元素輪廓線*/
}

.按鈕 {
    background-color:rgb(41, 161, 47);
    border:none;
    color:white;
    padding: 10px 15px;
    cursor:pointer; /* 游標滑過時變手指*/
}

.清單 {
    list-style-type:none; /*移除預設項目符號:點*/
    padding:0px;
}

.清單 li {
    display:flex;
    padding:10px;
    border-bottom: 1px solid #a1a1a1; /* 清單項目底部邊框*/
}

.清單 label {  
    flex-grow: 1;  /* 文字標籤間隔加寬*/
}

.打勾方塊 { 
    margin-right: 15px; /*增加打勾方塊與文字的間隔*/
}

.垃圾桶 {
    background: none; /*移除背景色*/
    border: none;  /*移除邊框*/
    cursor: pointer;
    opacity: 0.5; /*透明度改成50%*/
}

.垃圾桶:hover {
    opacity: 1.0; /*滑鼠經過時透明度恢復100%*/
}